a {
	color: #4C4C4E;
	text-decoration: none;
}

body {
	color: #4C4C4E;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

button, input[type="submit"] {
	background: none;
	border: 2px solid #979797;
	border-radius: 5px;
	margin: .5rem;
}

button a {
	display: block;
	font-size: 1rem;
	padding: .75rem 1rem;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3rem;
	font-weight: 300;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

input {
	border: 2px solid gray;
	border-width: 0 0 1px 0;
	display: block;
	font-size: 1.25rem;
	margin: 1.5rem auto;
	max-width: 300px;
	padding: .25rem;
	width: 100%;
}

input:focus {
	outline: none;
}

.blue {
	color: #83C9FF;
}

.red {
	color: #FC5151;
}

.gray {
	color: #979797;
}

.logo {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.orange {
	color: #F6A623;
}

.powered-by {
	margin: 2rem 0;
}

.powered-by svg {
	vertical-align: middle;
}

.temperature-format, .temperature-format a {
	color: #979797;
	font-size: 3rem;
	margin: 1rem auto;
}

.temperature {
	font-size: 10rem;
}

.thermostat {
	align-items: center;
	box-shadow: 0px 0px 1rem 0.5rem;
	border-radius: 100%;
	display: flex;
	font-size: 6rem;
	height: 15rem;
	justify-content: center;
	margin: 2rem auto;
	width: 15rem;

}

.temperature-format a.selected {
	color: #4C4C4E;
}