
body {
	color: #4C4C4E;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3rem;
	font-weight: 300;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.gray {
	color: #979797;
}

.logo {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.orange {
	color: #F6A623;
}
